[submodule "modulekit"]
	path = modulekit
	url = https://github.com/plepe/modulekit.git
[submodule "modules/ajax"]
	path = modules/ajax
	url = https://github.com/plepe/modulekit-ajax.git
[submodule "modules/form"]
	path = modules/form
	url = https://github.com/plepe/modulekit-form.git
[submodule "modules/lang"]
	path = modules/lang
	url = https://github.com/plepe/modulekit-lang.git
[submodule "modules/base"]
	path = modules/base
	url = https://github.com/plepe/modulekit-base.git
