.displays:after {
  content: '.';
  display: block;
  height: 0;
  clear: left;
  visibility: hidden;
}

.display {
  border-top: 0px;
  border-bottom: 1px solid black;
  min-height: 3em;
  margin-right: 0em;
  width: 100%;
  position: relative;
}
.display .title {
  position: absolute;
  vertical-align: middle;
  left: 0.25em;
  top: 0.6em;
}
.display .title span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}
.display .title:after {
  content: ": ";
}
.display .value {
  top: 0.3em;
  right: 3em;
  display: block;
  position: absolute;
}
.display .value span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}
.display .value.numeric {
}
.display .unit {
  position: absolute;
  right: 0.5em;
  text-align: left;
  width: 2em;
  bottom: 0.75em;
  vertical-align: top;
}
.display .unit span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
}

.display .expanded_hidden {
  display: none;
}
.display .expanded {
  display: block;
  padding-top: 2.25em;
  padding-left: 2em;
  padding-bottom: 0.5em;
}
.display .expanded span {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}
