#map {
  position: absolute;
  width: 50%;
  height: 100%;
  border-right: 1px solid black;
  margin-right: 5px !important;
}
#content_container {
  position: absolute;
  width: 50%;
  left: 50%;
  height: 100%;
  overflow: auto;
}
#content {
  padding: 5px;
}
