body {
  margin: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav {
  position: absolute;
  z-index: 10000;
}
#nav div {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  background: white;
  border: 1px solid black;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  opacity: 0.6;
}

#title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 0.25em;
}

#tracker_list .expanded ul {
  padding-left: 0px;
}
#tracker_list .expanded ul li {
  list-style-type: none;
}
iframe.page {
  border: none;
}

table.form td.field_value input[type="text"] {
  display: block;
  width: 100%;
}
table.form {
  width: 100%;
}
#icon_preview {
  float: right;
}
#icon_preview img.loading {
  opacity: 0.5;
}
#icon_preview img.loaded {
  opacity: 1;
}
.note {
  font-size: 0.5em;
}

#navigation {
  margin-top: 0.5em;
}
#navigation a {
  color: #0000ff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.25em;
}
#navigation a:active,
#navigation a:hover {
  text-decoration: underline;
}
